/*
Package verizon

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
*/
package verizon

import (
    "context"
    "github.com/apimatic/go-core-runtime/https"
    "github.com/apimatic/go-core-runtime/utilities"
    "verizon/errors"
    "verizon/models"
)

// SensorInsightsRulesApi represents a controller struct.
type SensorInsightsRulesApi struct {
    baseApi
}

// NewSensorInsightsRulesApi creates a new instance of SensorInsightsRulesApi.
// It takes a baseController as a parameter and returns a pointer to the SensorInsightsRulesApi.
func NewSensorInsightsRulesApi(baseApi baseApi) *SensorInsightsRulesApi {
    sensorInsightsRulesApi := SensorInsightsRulesApi{baseApi: baseApi}
    return &sensorInsightsRulesApi
}

// SensorInsightsOverwriteRuleRequest takes context, body as parameters and
// returns an models.ApiResponse with models.ResourceRule data and
// an error if there was an issue with the request or response.
func (s *SensorInsightsRulesApi) SensorInsightsOverwriteRuleRequest(
    ctx context.Context,
    body models.DtoOverwriteRuleRequest) (
    models.ApiResponse[models.ResourceRule],
    error) {
    req := s.prepareRequest(ctx, "POST", "/dm/v1/rules")
    
    req.BaseUrl("Thingspace")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Bad Request", Unmarshaller: errors.NewM400ManagementError},
        "401": {Message: "UnAuthorized", Unmarshaller: errors.NewManagementError},
        "403": {Message: "Forbidden", Unmarshaller: errors.NewM403ManagementError},
        "404": {Message: "Not Found", Unmarshaller: errors.NewM404ManagementError},
        "406": {Message: "Not Acceptable", Unmarshaller: errors.NewManagementError},
        "415": {Message: "Unsupported media type", Unmarshaller: errors.NewManagementError},
        "429": {Message: "Too many requests", Unmarshaller: errors.NewManagementError},
        "500": {Message: "Internal server error.", Unmarshaller: errors.NewM500ManagementError},
        "0": {Message: "Unexpected error", Unmarshaller: errors.NewManagementError},
    })
    req.Header("Content-Type", "application/json")
    req.Json(&body)
    var result models.ResourceRule
    decoder, resp, err := req.CallAsJson()
    if err != nil {
        return models.NewApiResponse(result, resp), err
    }
    
    result, err = utilities.DecodeResults[models.ResourceRule](decoder)
    return models.NewApiResponse(result, resp), err
}

// SensorInsightsListRulesRequest takes context, body as parameters and
// returns an models.ApiResponse with []models.ResourceRule data and
// an error if there was an issue with the request or response.
func (s *SensorInsightsRulesApi) SensorInsightsListRulesRequest(
    ctx context.Context,
    body models.DtoListRulesRequest) (
    models.ApiResponse[[]models.ResourceRule],
    error) {
    req := s.prepareRequest(ctx, "POST", "/dm/v1/rules/actions/query")
    
    req.BaseUrl("Thingspace")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Bad Request", Unmarshaller: errors.NewM400ManagementError},
        "401": {Message: "UnAuthorized", Unmarshaller: errors.NewManagementError},
        "403": {Message: "Forbidden", Unmarshaller: errors.NewM403ManagementError},
        "404": {Message: "Not Found", Unmarshaller: errors.NewM404ManagementError},
        "406": {Message: "Not Acceptable", Unmarshaller: errors.NewManagementError},
        "415": {Message: "Unsupported media type", Unmarshaller: errors.NewManagementError},
        "429": {Message: "Too many requests", Unmarshaller: errors.NewManagementError},
        "500": {Message: "Internal server error.", Unmarshaller: errors.NewM500ManagementError},
        "0": {Message: "Unexpected error", Unmarshaller: errors.NewManagementError},
    })
    req.Header("Content-Type", "application/json")
    req.Json(&body)
    var result []models.ResourceRule
    decoder, resp, err := req.CallAsJson()
    if err != nil {
        return models.NewApiResponse(result, resp), err
    }
    
    result, err = utilities.DecodeResults[[]models.ResourceRule](decoder)
    return models.NewApiResponse(result, resp), err
}
