/*
Package verizon

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
*/
package verizon

import (
    "context"
    "github.com/apimatic/go-core-runtime/https"
    "github.com/apimatic/go-core-runtime/utilities"
    "net/http"
    "verizon/errors"
    "verizon/models"
)

// SensorInsightsNotificationGroupsApi represents a controller struct.
type SensorInsightsNotificationGroupsApi struct {
    baseApi
}

// NewSensorInsightsNotificationGroupsApi creates a new instance of SensorInsightsNotificationGroupsApi.
// It takes a baseController as a parameter and returns a pointer to the SensorInsightsNotificationGroupsApi.
func NewSensorInsightsNotificationGroupsApi(baseApi baseApi) *SensorInsightsNotificationGroupsApi {
    sensorInsightsNotificationGroupsApi := SensorInsightsNotificationGroupsApi{baseApi: baseApi}
    return &sensorInsightsNotificationGroupsApi
}

// SensorInsightsListNotificationGroupRequest takes context, body as parameters and
// returns an models.ApiResponse with []models.DtoNotificationGroupResponseEntity data and
// an error if there was an issue with the request or response.
func (s *SensorInsightsNotificationGroupsApi) SensorInsightsListNotificationGroupRequest(
    ctx context.Context,
    body models.DtoListNotificationGroupRequest) (
    models.ApiResponse[[]models.DtoNotificationGroupResponseEntity],
    error) {
    req := s.prepareRequest(ctx, "POST", "/dm/v1/notificationGroups/actions/query")
    
    req.BaseUrl("Thingspace")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Bad Request", Unmarshaller: errors.NewM400ManagementError},
        "401": {Message: "UnAuthorized", Unmarshaller: errors.NewManagementError},
        "403": {Message: "Forbidden", Unmarshaller: errors.NewM403ManagementError},
        "404": {Message: "Not Found", Unmarshaller: errors.NewM404ManagementError},
        "406": {Message: "Not Acceptable", Unmarshaller: errors.NewManagementError},
        "415": {Message: "Unsupported media type", Unmarshaller: errors.NewManagementError},
        "429": {Message: "Too many requests", Unmarshaller: errors.NewManagementError},
        "500": {Message: "Internal server error.", Unmarshaller: errors.NewM500ManagementError},
        "0": {Message: "Unexpected error", Unmarshaller: errors.NewManagementError},
    })
    req.Header("Content-Type", "application/json")
    req.Json(&body)
    var result []models.DtoNotificationGroupResponseEntity
    decoder, resp, err := req.CallAsJson()
    if err != nil {
        return models.NewApiResponse(result, resp), err
    }
    
    result, err = utilities.DecodeResults[[]models.DtoNotificationGroupResponseEntity](decoder)
    return models.NewApiResponse(result, resp), err
}

// SensorInsightsUpdateNotificationGroupRequest takes context, body as parameters and
// returns an models.ApiResponse with models.DtoNotificationGroupResponseEntity data and
// an error if there was an issue with the request or response.
func (s *SensorInsightsNotificationGroupsApi) SensorInsightsUpdateNotificationGroupRequest(
    ctx context.Context,
    body models.DtoUpdateNotificationGroupRequest) (
    models.ApiResponse[models.DtoNotificationGroupResponseEntity],
    error) {
    req := s.prepareRequest(ctx, "PATCH", "/dm/v1/notificationGroups")
    
    req.BaseUrl("Thingspace")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Bad Request", Unmarshaller: errors.NewM400ManagementError},
        "401": {Message: "UnAuthorized", Unmarshaller: errors.NewManagementError},
        "403": {Message: "Forbidden", Unmarshaller: errors.NewM403ManagementError},
        "404": {Message: "Not Found", Unmarshaller: errors.NewM404ManagementError},
        "406": {Message: "Not Acceptable", Unmarshaller: errors.NewManagementError},
        "415": {Message: "Unsupported media type", Unmarshaller: errors.NewManagementError},
        "429": {Message: "Too many requests", Unmarshaller: errors.NewManagementError},
        "500": {Message: "Internal server error.", Unmarshaller: errors.NewM500ManagementError},
        "0": {Message: "Unexpected error", Unmarshaller: errors.NewManagementError},
    })
    req.Header("Content-Type", "application/json")
    req.Json(&body)
    var result models.DtoNotificationGroupResponseEntity
    decoder, resp, err := req.CallAsJson()
    if err != nil {
        return models.NewApiResponse(result, resp), err
    }
    
    result, err = utilities.DecodeResults[models.DtoNotificationGroupResponseEntity](decoder)
    return models.NewApiResponse(result, resp), err
}

// SensorInsightsCreateNotificationGroupRequest takes context, body as parameters and
// returns an models.ApiResponse with models.DtoNotificationGroupResponseEntity data and
// an error if there was an issue with the request or response.
func (s *SensorInsightsNotificationGroupsApi) SensorInsightsCreateNotificationGroupRequest(
    ctx context.Context,
    body models.DtoCreateNotificationGroupRequest) (
    models.ApiResponse[models.DtoNotificationGroupResponseEntity],
    error) {
    req := s.prepareRequest(ctx, "POST", "/dm/v1/notificationGroups")
    
    req.BaseUrl("Thingspace")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Bad Request", Unmarshaller: errors.NewM400ManagementError},
        "401": {Message: "UnAuthorized", Unmarshaller: errors.NewManagementError},
        "403": {Message: "Forbidden", Unmarshaller: errors.NewM403ManagementError},
        "406": {Message: "Not Acceptable", Unmarshaller: errors.NewManagementError},
        "415": {Message: "Unsupported media type", Unmarshaller: errors.NewManagementError},
        "429": {Message: "Too many requests", Unmarshaller: errors.NewManagementError},
        "500": {Message: "Internal server error.", Unmarshaller: errors.NewM500ManagementError},
        "0": {Message: "Unexpected error", Unmarshaller: errors.NewManagementError},
    })
    req.Header("Content-Type", "application/json")
    req.Json(&body)
    var result models.DtoNotificationGroupResponseEntity
    decoder, resp, err := req.CallAsJson()
    if err != nil {
        return models.NewApiResponse(result, resp), err
    }
    
    result, err = utilities.DecodeResults[models.DtoNotificationGroupResponseEntity](decoder)
    return models.NewApiResponse(result, resp), err
}

// SensorInsightsDeleteNotificationGroup takes context, payload as parameters and
// returns an *Response and
// an error if there was an issue with the request or response.
func (s *SensorInsightsNotificationGroupsApi) SensorInsightsDeleteNotificationGroup(
    ctx context.Context,
    payload models.DtoDeleteNotificationGroupRequest) (
    *http.Response,
    error) {
    req := s.prepareRequest(ctx, "DELETE", "/dm/v1/notificationGroups")
    
    req.BaseUrl("Thingspace")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Bad Request", Unmarshaller: errors.NewM400ManagementError},
        "401": {Message: "UnAuthorized", Unmarshaller: errors.NewManagementError},
        "403": {Message: "Forbidden", Unmarshaller: errors.NewM403ManagementError},
        "404": {Message: "Not Found", Unmarshaller: errors.NewM404ManagementError},
    })
    req.QueryParam("payload", payload)
    httpCtx, err := req.Call()
    if err != nil {
        return httpCtx.Response, err
    }
    return httpCtx.Response, err
}

// SensorInsightsAddUsersToNotificationGroupRequest takes context, body as parameters and
// returns an *Response and
// an error if there was an issue with the request or response.
func (s *SensorInsightsNotificationGroupsApi) SensorInsightsAddUsersToNotificationGroupRequest(
    ctx context.Context,
    body models.DtoAddUsersToNotificationGroupRequest) (
    *http.Response,
    error) {
    req := s.prepareRequest(
      ctx,
      "POST",
      "/dm/v1/notificationGroups/actions/add-users",
    )
    
    req.BaseUrl("Thingspace")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Bad Request", Unmarshaller: errors.NewM400ManagementError},
        "401": {Message: "UnAuthorized", Unmarshaller: errors.NewManagementError},
        "403": {Message: "Forbidden", Unmarshaller: errors.NewM403ManagementError},
        "404": {Message: "Not Found", Unmarshaller: errors.NewM404ManagementError},
        "406": {Message: "Not Acceptable", Unmarshaller: errors.NewManagementError},
        "415": {Message: "Unsupported media type", Unmarshaller: errors.NewManagementError},
        "429": {Message: "Too many requests", Unmarshaller: errors.NewManagementError},
        "500": {Message: "Internal server error.", Unmarshaller: errors.NewM500ManagementError},
        "0": {Message: "Unexpected error", Unmarshaller: errors.NewManagementError},
    })
    req.Header("Content-Type", "application/json")
    req.Json(&body)
    httpCtx, err := req.Call()
    if err != nil {
        return httpCtx.Response, err
    }
    return httpCtx.Response, err
}

// SensorInsightsRemoveUsersFromNotificationGroupRequest takes context, body as parameters and
// returns an *Response and
// an error if there was an issue with the request or response.
func (s *SensorInsightsNotificationGroupsApi) SensorInsightsRemoveUsersFromNotificationGroupRequest(
    ctx context.Context,
    body models.DtoRemoveUsersFromNotificationGroupRequest) (
    *http.Response,
    error) {
    req := s.prepareRequest(
      ctx,
      "POST",
      "/dm/v1/notificationGroups/actions/remove-users",
    )
    
    req.BaseUrl("Thingspace")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Bad Request", Unmarshaller: errors.NewM400ManagementError},
        "401": {Message: "UnAuthorized", Unmarshaller: errors.NewManagementError},
        "403": {Message: "Forbidden", Unmarshaller: errors.NewM403ManagementError},
        "404": {Message: "Not Found", Unmarshaller: errors.NewM404ManagementError},
        "406": {Message: "Not Acceptable", Unmarshaller: errors.NewManagementError},
        "415": {Message: "Unsupported media type", Unmarshaller: errors.NewManagementError},
        "429": {Message: "Too many requests", Unmarshaller: errors.NewManagementError},
        "500": {Message: "Internal server error.", Unmarshaller: errors.NewM500ManagementError},
        "0": {Message: "Unexpected error", Unmarshaller: errors.NewManagementError},
    })
    req.Header("Content-Type", "application/json")
    req.Json(&body)
    httpCtx, err := req.Call()
    if err != nil {
        return httpCtx.Response, err
    }
    return httpCtx.Response, err
}
