# verizon
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module Verizon
  # UpdatePricePlanTriggersApi
  class UpdatePricePlanTriggersApi < BaseApi
    # Updates a usage trigger at the account level, device level or a price plan
    # trigger for all devices on the account
    # @param [V2TriggersRequest1] body Required parameter: Update a trigger
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_trigger_rules(body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::PUT,
                                     '/v2/triggers',
                                     Server::THINGSPACE)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body)
                                .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Or.new('thingspace_oauth1', 'VZ-M2M-Token')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(TriggerResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('default',
                                 'Error response',
                                 RuleRestErrorResponseException))
        .execute
    end
  end
end
