<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\QueryParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Exceptions\DeviceDiagnosticsResultException;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\DiagnosticObservationSetting;
use VerizonLib\Server;

class DiagnosticsSettingsApi extends BaseApi
{
    /**
     * This endpoint retrieves diagnostics settings synchronously.
     *
     * @param string $accountName Account identifier.
     * @param string $devices Devices list formatted as "id, kind"
     *
     * @return ApiResponse Response from the API call
     */
    public function listDiagnosticsSettings(string $accountName, string $devices): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/devices/settings')
            ->server(Server::DEVICE_DIAGNOSTICS)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(
                QueryParam::init('accountName', $accountName)->required(),
                QueryParam::init('devices', $devices)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error response.', DeviceDiagnosticsResultException::class))
            ->type(DiagnosticObservationSetting::class, 1)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
