<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Exceptions\FotaV3ResultException;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\DeviceFirmwareList;
use VerizonLib\Models\DeviceFirmwareVersionUpdateResult;
use VerizonLib\Models\FirmwareImei;
use VerizonLib\Models\FirmwarePackage;
use VerizonLib\Models\FirmwareProtocol;
use VerizonLib\Server;

class FirmwareV3Api extends BaseApi
{
    /**
     * This endpoint allows user to list the firmware of an account.
     *
     * @param string $acc Account identifier.
     * @param string $protocol Filter to retrieve a specific protocol type used.
     *
     * @return ApiResponse Response from the API call
     */
    public function listAvailableFirmware(string $acc, string $protocol): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/firmware/{acc}')
            ->server(Server::SOFTWARE_MANAGEMENT_V3)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(
                TemplateParam::init('acc', $acc)->required(),
                QueryParam::init('protocol', $protocol)
                    ->required()
                    ->serializeBy([FirmwareProtocol::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Unexpected error.', FotaV3ResultException::class))
            ->type(FirmwarePackage::class, 1)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Synchronize ThingSpace with the FOTA server for up to 100 devices.
     *
     * @param string $acc Account identifier.
     * @param FirmwareImei $body DeviceIds to get firmware info synchronously.
     *
     * @return ApiResponse Response from the API call
     */
    public function synchronizeDeviceFirmware(string $acc, FirmwareImei $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/firmware/{acc}/devices')
            ->server(Server::SOFTWARE_MANAGEMENT_V3)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(
                TemplateParam::init('acc', $acc)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Unexpected error.', FotaV3ResultException::class))
            ->type(DeviceFirmwareList::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Ask a device to report its firmware version asynchronously.
     *
     * @param string $acc Account identifier.
     * @param string $deviceId Device identifier.
     *
     * @return ApiResponse Response from the API call
     */
    public function reportDeviceFirmware(string $acc, string $deviceId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/firmware/{acc}/async/{deviceId}')
            ->server(Server::SOFTWARE_MANAGEMENT_V3)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(
                TemplateParam::init('acc', $acc)->required(),
                TemplateParam::init('deviceId', $deviceId)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Unexpected error.', FotaV3ResultException::class))
            ->type(DeviceFirmwareVersionUpdateResult::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
