<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Apis;

use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Exceptions\RuleRestErrorResponseException;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\Rateplan;
use VerizonLib\Server;

class RetrieveRatePlanListApi extends BaseApi
{
    /**
     * Retrieves the rate plans and rate plan details for a profile ID.
     *
     * @param string $ecpdId The Enterprise Customer Profile Database ID. This is the same as the
     *        accountName value
     *
     * @return ApiResponse Response from the API call
     */
    public function getRatePlanList(string $ecpdId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v2/triggers/rateplanlist/{ecpdId}')
            ->server(Server::THINGSPACE)
            ->auth('thingspace_oauth1', 'VZ-M2M-Token')
            ->parameters(TemplateParam::init('ecpdId', $ecpdId)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error response', RuleRestErrorResponseException::class))
            ->type(Rateplan::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
