<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Exceptions\M400ManagementErrorException;
use VerizonLib\Exceptions\M403ManagementErrorException;
use VerizonLib\Exceptions\M404ManagementErrorException;
use VerizonLib\Exceptions\M500ManagementErrorException;
use VerizonLib\Exceptions\ManagementErrorException;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\DtoListSensorDevicesRequest;
use VerizonLib\Models\DtoOffBoardSensorRequest;
use VerizonLib\Models\DtoOnBoardSensorRequest;
use VerizonLib\Models\DtoSensorOffBoardingStatusResponse;
use VerizonLib\Models\DtoSensorOffBoardStatusRequest;
use VerizonLib\Models\DtoSensorOnBoardingStatusResponse;
use VerizonLib\Models\DtoSensorOnBoardStatusRequest;
use VerizonLib\Models\ResourceDevice;
use VerizonLib\Server;

class SensorInsightsSensorsApi extends BaseApi
{
    /**
     * @param DtoListSensorDevicesRequest $body List details of the sensors
     *
     * @return ApiResponse Response from the API call
     */
    public function sensorInsightsListSensorDevicesRequest(DtoListSensorDevicesRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/dm/v1/devices/sensors/actions/query')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', M400ManagementErrorException::class))
            ->throwErrorOn('401', ErrorType::init('UnAuthorized', ManagementErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', M403ManagementErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', M404ManagementErrorException::class))
            ->throwErrorOn('406', ErrorType::init('Not Acceptable', ManagementErrorException::class))
            ->throwErrorOn('415', ErrorType::init('Unsupported media type', ManagementErrorException::class))
            ->throwErrorOn('429', ErrorType::init('Too many requests', ManagementErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal server error.', M500ManagementErrorException::class))
            ->throwErrorOn('0', ErrorType::init('Unexpected error', ManagementErrorException::class))
            ->type(ResourceDevice::class, 1)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param DtoOnBoardSensorRequest $body Onboarding a sensor
     *
     * @return ApiResponse Response from the API call
     */
    public function sensorInsightsOnBoardSensorRequest(DtoOnBoardSensorRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/dm/v1/devices/sensors/onboard')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', M400ManagementErrorException::class))
            ->throwErrorOn('401', ErrorType::init('UnAuthorized', ManagementErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', M403ManagementErrorException::class))
            ->throwErrorOn('406', ErrorType::init('Not Acceptable', ManagementErrorException::class))
            ->throwErrorOn('415', ErrorType::init('Unsupported media type', ManagementErrorException::class))
            ->throwErrorOn('429', ErrorType::init('Too many requests', ManagementErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal server error.', M500ManagementErrorException::class))
            ->throwErrorOn('0', ErrorType::init('Unexpected error', ManagementErrorException::class))
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param DtoSensorOnBoardStatusRequest $body Get the sensor's onboarding status
     *
     * @return ApiResponse Response from the API call
     */
    public function sensorInsightsSensorOnBoardStatusRequest(DtoSensorOnBoardStatusRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/dm/v1/devices/sensors/onboard/status/actions/query'
        )
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', M400ManagementErrorException::class))
            ->throwErrorOn('401', ErrorType::init('UnAuthorized', ManagementErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', M403ManagementErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', M404ManagementErrorException::class))
            ->throwErrorOn('406', ErrorType::init('Not Acceptable', ManagementErrorException::class))
            ->throwErrorOn('415', ErrorType::init('Unsupported media type', ManagementErrorException::class))
            ->throwErrorOn('429', ErrorType::init('Too many requests', ManagementErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal server error.', M500ManagementErrorException::class))
            ->throwErrorOn('0', ErrorType::init('Unexpected error', ManagementErrorException::class))
            ->type(DtoSensorOnBoardingStatusResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param DtoOffBoardSensorRequest $body Offboard a sensor
     *
     * @return ApiResponse Response from the API call
     */
    public function sensorInsightsOffBoardSensorRequest(DtoOffBoardSensorRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/dm/v1/devices/sensors/offboard')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', M400ManagementErrorException::class))
            ->throwErrorOn('401', ErrorType::init('UnAuthorized', ManagementErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', M403ManagementErrorException::class))
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param DtoSensorOffBoardStatusRequest $body Get a sensor's offboarding status
     *
     * @return ApiResponse Response from the API call
     */
    public function sensorInsightsSensorOffBoardingStatusRequest(DtoSensorOffBoardStatusRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/dm/v1/devices/sensors/offboard/status/actions/query'
        )
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', M400ManagementErrorException::class))
            ->throwErrorOn('401', ErrorType::init('UnAuthorized', ManagementErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', M403ManagementErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', M404ManagementErrorException::class))
            ->throwErrorOn('406', ErrorType::init('Not Acceptable', ManagementErrorException::class))
            ->throwErrorOn('415', ErrorType::init('Unsupported media type', ManagementErrorException::class))
            ->throwErrorOn('429', ErrorType::init('Too many requests', ManagementErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal server error.', M500ManagementErrorException::class))
            ->throwErrorOn('0', ErrorType::init('Unexpected error', ManagementErrorException::class))
            ->type(DtoSensorOffBoardingStatusResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
