<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Exceptions\M400ManagementErrorException;
use VerizonLib\Exceptions\M403ManagementErrorException;
use VerizonLib\Exceptions\M404ManagementErrorException;
use VerizonLib\Exceptions\M500ManagementErrorException;
use VerizonLib\Exceptions\ManagementErrorException;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\DtoAddUsersToNotificationGroupRequest;
use VerizonLib\Models\DtoCreateNotificationGroupRequest;
use VerizonLib\Models\DtoDeleteNotificationGroupRequest;
use VerizonLib\Models\DtoListNotificationGroupRequest;
use VerizonLib\Models\DtoNotificationGroupResponseEntity;
use VerizonLib\Models\DtoRemoveUsersFromNotificationGroupRequest;
use VerizonLib\Models\DtoUpdateNotificationGroupRequest;
use VerizonLib\Server;

class SensorInsightsNotificationGroupsApi extends BaseApi
{
    /**
     * @param DtoListNotificationGroupRequest $body Retrieve a notification group
     *
     * @return ApiResponse Response from the API call
     */
    public function sensorInsightsListNotificationGroupRequest(DtoListNotificationGroupRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/dm/v1/notificationGroups/actions/query')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', M400ManagementErrorException::class))
            ->throwErrorOn('401', ErrorType::init('UnAuthorized', ManagementErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', M403ManagementErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', M404ManagementErrorException::class))
            ->throwErrorOn('406', ErrorType::init('Not Acceptable', ManagementErrorException::class))
            ->throwErrorOn('415', ErrorType::init('Unsupported media type', ManagementErrorException::class))
            ->throwErrorOn('429', ErrorType::init('Too many requests', ManagementErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal server error.', M500ManagementErrorException::class))
            ->throwErrorOn('0', ErrorType::init('Unexpected error', ManagementErrorException::class))
            ->type(DtoNotificationGroupResponseEntity::class, 1)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param DtoUpdateNotificationGroupRequest $body Partially update a notification group
     *
     * @return ApiResponse Response from the API call
     */
    public function sensorInsightsUpdateNotificationGroupRequest(DtoUpdateNotificationGroupRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/dm/v1/notificationGroups')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', M400ManagementErrorException::class))
            ->throwErrorOn('401', ErrorType::init('UnAuthorized', ManagementErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', M403ManagementErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', M404ManagementErrorException::class))
            ->throwErrorOn('406', ErrorType::init('Not Acceptable', ManagementErrorException::class))
            ->throwErrorOn('415', ErrorType::init('Unsupported media type', ManagementErrorException::class))
            ->throwErrorOn('429', ErrorType::init('Too many requests', ManagementErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal server error.', M500ManagementErrorException::class))
            ->throwErrorOn('0', ErrorType::init('Unexpected error', ManagementErrorException::class))
            ->type(DtoNotificationGroupResponseEntity::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param DtoCreateNotificationGroupRequest $body Create a notification group
     *
     * @return ApiResponse Response from the API call
     */
    public function sensorInsightsCreateNotificationGroupRequest(DtoCreateNotificationGroupRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/dm/v1/notificationGroups')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', M400ManagementErrorException::class))
            ->throwErrorOn('401', ErrorType::init('UnAuthorized', ManagementErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', M403ManagementErrorException::class))
            ->throwErrorOn('406', ErrorType::init('Not Acceptable', ManagementErrorException::class))
            ->throwErrorOn('415', ErrorType::init('Unsupported media type', ManagementErrorException::class))
            ->throwErrorOn('429', ErrorType::init('Too many requests', ManagementErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal server error.', M500ManagementErrorException::class))
            ->throwErrorOn('0', ErrorType::init('Unexpected error', ManagementErrorException::class))
            ->type(DtoNotificationGroupResponseEntity::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param DtoDeleteNotificationGroupRequest $payload Payload for the delete request.
     *
     * @return ApiResponse Response from the API call
     */
    public function sensorInsightsDeleteNotificationGroup(DtoDeleteNotificationGroupRequest $payload): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/dm/v1/notificationGroups')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(QueryParam::init('payload', $payload)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', M400ManagementErrorException::class))
            ->throwErrorOn('401', ErrorType::init('UnAuthorized', ManagementErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', M403ManagementErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', M404ManagementErrorException::class))
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param DtoAddUsersToNotificationGroupRequest $body Add users to a notification group
     *
     * @return ApiResponse Response from the API call
     */
    public function sensorInsightsAddUsersToNotificationGroupRequest(
        DtoAddUsersToNotificationGroupRequest $body
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/dm/v1/notificationGroups/actions/add-users')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', M400ManagementErrorException::class))
            ->throwErrorOn('401', ErrorType::init('UnAuthorized', ManagementErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', M403ManagementErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', M404ManagementErrorException::class))
            ->throwErrorOn('406', ErrorType::init('Not Acceptable', ManagementErrorException::class))
            ->throwErrorOn('415', ErrorType::init('Unsupported media type', ManagementErrorException::class))
            ->throwErrorOn('429', ErrorType::init('Too many requests', ManagementErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal server error.', M500ManagementErrorException::class))
            ->throwErrorOn('0', ErrorType::init('Unexpected error', ManagementErrorException::class))
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param DtoRemoveUsersFromNotificationGroupRequest $body Remove users from a notification
     *        group
     *
     * @return ApiResponse Response from the API call
     */
    public function sensorInsightsRemoveUsersFromNotificationGroupRequest(
        DtoRemoveUsersFromNotificationGroupRequest $body
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/dm/v1/notificationGroups/actions/remove-users')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', M400ManagementErrorException::class))
            ->throwErrorOn('401', ErrorType::init('UnAuthorized', ManagementErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', M403ManagementErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', M404ManagementErrorException::class))
            ->throwErrorOn('406', ErrorType::init('Not Acceptable', ManagementErrorException::class))
            ->throwErrorOn('415', ErrorType::init('Unsupported media type', ManagementErrorException::class))
            ->throwErrorOn('429', ErrorType::init('Too many requests', ManagementErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal server error.', M500ManagementErrorException::class))
            ->throwErrorOn('0', ErrorType::init('Unexpected error', ManagementErrorException::class))
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
