<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Exceptions\M400ManagementErrorException;
use VerizonLib\Exceptions\M403ManagementErrorException;
use VerizonLib\Exceptions\M404ManagementErrorException;
use VerizonLib\Exceptions\M500ManagementErrorException;
use VerizonLib\Exceptions\ManagementErrorException;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\DtoDeviceActionSetRequest;
use VerizonLib\Models\DtoDeviceActionSetResponse;
use VerizonLib\Models\DtoDeviceCommand;
use VerizonLib\Models\DtoExpandedDeviceResponse;
use VerizonLib\Models\DtoLastReportedTimeRequest;
use VerizonLib\Models\DtoLastReportedTimeResponse;
use VerizonLib\Models\DtoListDeviceExperienceHistoryRequest;
use VerizonLib\Models\DtoListDevicesRequest;
use VerizonLib\Models\DtoListNetworkExperienceHistoryRequest;
use VerizonLib\Models\DtoPatchDeviceRequest;
use VerizonLib\Models\ResourceDevice;
use VerizonLib\Models\UserDeviceExperienceHistory;
use VerizonLib\Models\UserNetworkExperienceHistory;
use VerizonLib\Server;

class SensorInsightsDevicesApi extends BaseApi
{
    /**
     * @param DtoListDevicesRequest $body List all device details on an account
     *
     * @return ApiResponse Response from the API call
     */
    public function sensorInsightsListDevicesRequest(DtoListDevicesRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/dm/v1/devices/actions/query')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', ManagementErrorException::class))
            ->throwErrorOn('401', ErrorType::init('UnAuthorized', ManagementErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', ManagementErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', ManagementErrorException::class))
            ->throwErrorOn('406', ErrorType::init('Not Acceptable', ManagementErrorException::class))
            ->throwErrorOn('415', ErrorType::init('Unsupported media type', ManagementErrorException::class))
            ->throwErrorOn('429', ErrorType::init('Too many requests', ManagementErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal server error.', ManagementErrorException::class))
            ->throwErrorOn('0', ErrorType::init('Unexpected error', ManagementErrorException::class))
            ->type(DtoExpandedDeviceResponse::class, 1)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param DtoPatchDeviceRequest $body Partially update a device's details
     *
     * @return ApiResponse Response from the API call
     */
    public function sensorInsightsPatchDeviceRequest(DtoPatchDeviceRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/dm/v1/devices')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', M400ManagementErrorException::class))
            ->throwErrorOn('401', ErrorType::init('UnAuthorized', ManagementErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', M403ManagementErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', M404ManagementErrorException::class))
            ->throwErrorOn('406', ErrorType::init('Not Acceptable', ManagementErrorException::class))
            ->throwErrorOn('415', ErrorType::init('Unsupported media type', ManagementErrorException::class))
            ->throwErrorOn('429', ErrorType::init('Too many requests', ManagementErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal server error.', M500ManagementErrorException::class))
            ->throwErrorOn('0', ErrorType::init('Unexpected error', ManagementErrorException::class))
            ->type(ResourceDevice::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param DtoLastReportedTimeRequest $body Get the last reported information for a device
     *
     * @return ApiResponse Response from the API call
     */
    public function sensorInsightsLastReportedTimeRequest(DtoLastReportedTimeRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/dm/v1/devices/lastreported')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', M400ManagementErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', M403ManagementErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', M404ManagementErrorException::class))
            ->type(DtoLastReportedTimeResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param DtoDeviceActionSetRequest|DtoDeviceCommand $body Set device configuration
     *
     * @return ApiResponse Response from the API call
     */
    public function sensorInsightsDeviceActionSetRequest($body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/dm/v1/devices/actions/set')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()->strictType('anyOf(DtoDeviceActionSetRequest,DtoDeviceCommand)')
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', M400ManagementErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', M403ManagementErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', M404ManagementErrorException::class))
            ->type(DtoDeviceActionSetResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param DtoListDeviceExperienceHistoryRequest $body List the device experience
     *
     * @return ApiResponse Response from the API call
     */
    public function sensorInsightsListDeviceExperienceHistoryRequest(
        DtoListDeviceExperienceHistoryRequest $body
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/dm/v1/devices/experience/actions/query')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', M400ManagementErrorException::class))
            ->throwErrorOn('401', ErrorType::init('UnAuthorized', ManagementErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', M403ManagementErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', M404ManagementErrorException::class))
            ->throwErrorOn('406', ErrorType::init('Not Acceptable', ManagementErrorException::class))
            ->throwErrorOn('415', ErrorType::init('Unsupported media type', ManagementErrorException::class))
            ->throwErrorOn('429', ErrorType::init('Too many requests', ManagementErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal server error.', M500ManagementErrorException::class))
            ->throwErrorOn('0', ErrorType::init('Unexpected error', ManagementErrorException::class))
            ->type(UserDeviceExperienceHistory::class, 1)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param DtoListNetworkExperienceHistoryRequest $body List the network experience
     *
     * @return ApiResponse Response from the API call
     */
    public function sensorInsightsListNetworkExperienceHistoryRequest(
        DtoListNetworkExperienceHistoryRequest $body
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/dm/v1/devices/networkexperience/actions/query')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', M400ManagementErrorException::class))
            ->throwErrorOn('401', ErrorType::init('UnAuthorized', ManagementErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', M403ManagementErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', M404ManagementErrorException::class))
            ->throwErrorOn('406', ErrorType::init('Not Acceptable', ManagementErrorException::class))
            ->throwErrorOn('415', ErrorType::init('Unsupported media type', ManagementErrorException::class))
            ->throwErrorOn('429', ErrorType::init('Too many requests', ManagementErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal server error.', M500ManagementErrorException::class))
            ->throwErrorOn('0', ErrorType::init('Unexpected error', ManagementErrorException::class))
            ->type(UserNetworkExperienceHistory::class, 1)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
