<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Exceptions\M400ManagementErrorException;
use VerizonLib\Exceptions\M403ManagementErrorException;
use VerizonLib\Exceptions\M404ManagementErrorException;
use VerizonLib\Exceptions\M500ManagementErrorException;
use VerizonLib\Exceptions\ManagementErrorException;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\DtoBulkUpdate;
use VerizonLib\Models\DtoListSmartAlertsRequest;
use VerizonLib\Models\DtoPatchSmartAlertRequest;
use VerizonLib\Models\UserSmartAlert;
use VerizonLib\Server;

class SensorInsightsSmartAlertsApi extends BaseApi
{
    /**
     * @param DtoListSmartAlertsRequest $body Retrieve a smart alert
     *
     * @return ApiResponse Response from the API call
     */
    public function sensorInsightsListSmartAlertsRequest(DtoListSmartAlertsRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/dm/v1/smartAlerts/actions/query')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', M400ManagementErrorException::class))
            ->throwErrorOn('401', ErrorType::init('UnAuthorized', ManagementErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', M403ManagementErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', M404ManagementErrorException::class))
            ->throwErrorOn('406', ErrorType::init('Not Acceptable', ManagementErrorException::class))
            ->throwErrorOn('415', ErrorType::init('Unsupported media type', ManagementErrorException::class))
            ->throwErrorOn('429', ErrorType::init('Too many requests', ManagementErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal server error.', M500ManagementErrorException::class))
            ->throwErrorOn('0', ErrorType::init('Unexpected error', ManagementErrorException::class))
            ->type(UserSmartAlert::class, 1)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param DtoPatchSmartAlertRequest $body Partially update a smart alert
     *
     * @return ApiResponse Response from the API call
     */
    public function sensorInsightsPatchSmartAlertRequest(DtoPatchSmartAlertRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/dm/v1/smartAlerts')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', M400ManagementErrorException::class))
            ->throwErrorOn('401', ErrorType::init('UnAuthorized', ManagementErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', M403ManagementErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', M404ManagementErrorException::class))
            ->throwErrorOn('406', ErrorType::init('Not Acceptable', ManagementErrorException::class))
            ->throwErrorOn('415', ErrorType::init('Unsupported media type', ManagementErrorException::class))
            ->throwErrorOn('429', ErrorType::init('Too many requests', ManagementErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal server error.', M500ManagementErrorException::class))
            ->throwErrorOn('0', ErrorType::init('Unexpected error', ManagementErrorException::class))
            ->type(UserSmartAlert::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param DtoBulkUpdate $body Bulk update smart alerts
     *
     * @return ApiResponse Response from the API call
     */
    public function sensorInsightsBulkUpdate(DtoBulkUpdate $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/dm/v1/smartAlerts/actions/bulkupdate')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad Request', M400ManagementErrorException::class))
            ->throwErrorOn('401', ErrorType::init('UnAuthorized', ManagementErrorException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', M403ManagementErrorException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', M404ManagementErrorException::class))
            ->throwErrorOn('406', ErrorType::init('Not Acceptable', ManagementErrorException::class))
            ->throwErrorOn('415', ErrorType::init('Unsupported media type', ManagementErrorException::class))
            ->throwErrorOn('429', ErrorType::init('Too many requests', ManagementErrorException::class))
            ->throwErrorOn('500', ErrorType::init('Internal server error.', M500ManagementErrorException::class))
            ->throwErrorOn('0', ErrorType::init('Unexpected error', ManagementErrorException::class))
            ->type(UserSmartAlert::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
