<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Exceptions\WnpRestErrorResponseException;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\GetDeviceExperienceScoreBulkRequest;
use VerizonLib\Models\GetDeviceExperienceScoreHistoryRequest;
use VerizonLib\Models\GetNetworkConditionsRequest;
use VerizonLib\Models\GetWirelessCoverageRequest;
use VerizonLib\Models\GetWirelessCoverageRequestFwa;
use VerizonLib\Models\WnpRequestResponse;
use VerizonLib\Server;

class WirelessNetworkPerformanceApi extends BaseApi
{
    /**
     * WNP Query for current network condition.
     *
     * @param GetNetworkConditionsRequest $body Request for current network health.
     *
     * @return ApiResponse Response from the API call
     */
    public function nearRealTimeNetworkConditions(GetNetworkConditionsRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/m2m/v1/intelligence/network-conditions')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error response', WnpRestErrorResponseException::class))
            ->type(WnpRequestResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Run a report for FWA Address qualification or to determine network types available and available
     * coverage. Network types covered include: CAT-M, NB-IOT, LTE, LTE-AWS, 5GNW, MMWAVE and C-BAND.
     *
     * @param GetWirelessCoverageRequest|GetWirelessCoverageRequestFwa $body Request for network
     *        coverage details.
     *
     * @return ApiResponse Response from the API call
     */
    public function domestic4GAnd5GNationwideNetworkCoverage($body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/m2m/v1/intelligence/wireless-coverage')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
                    ->required()
                    ->strictType('anyOf(GetWirelessCoverageRequest,GetWirelessCoverageRequestFwa)')
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error response', WnpRestErrorResponseException::class))
            ->type(WnpRequestResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Identify the direction and general distance of nearby cell sites and the technology supported by the
     * equipment.
     *
     * @param GetNetworkConditionsRequest $body Request for cell site proximity.
     *
     * @return ApiResponse Response from the API call
     */
    public function siteProximity(GetNetworkConditionsRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/m2m/v1/intelligence/site-proximity/action/list'
        )
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error response', WnpRestErrorResponseException::class))
            ->type(WnpRequestResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * A report of a specific device's service scores over a 30 day period.
     *
     * @param GetDeviceExperienceScoreHistoryRequest $body Request for a device's 30 day experience.
     *
     * @return ApiResponse Response from the API call
     */
    public function deviceExperience30DaysHistory(GetDeviceExperienceScoreHistoryRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/m2m/v1/intelligence/device-experience/history/30-days'
        )
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error response', WnpRestErrorResponseException::class))
            ->type(WnpRequestResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Run a report to view the latest device experience score for specific devices.
     *
     * @param GetDeviceExperienceScoreBulkRequest $body Request for bulk latest history details.
     *
     * @return ApiResponse Response from the API call
     */
    public function deviceExperienceBulkLatest(GetDeviceExperienceScoreBulkRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/m2m/v1/intelligence/device-experience/bulk/latest'
        )
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error response', WnpRestErrorResponseException::class))
            ->type(WnpRequestResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
