<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Apis;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Exceptions\RuleRestErrorResponseException;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\TriggerResponse;
use VerizonLib\Models\V2TriggersRequest;
use VerizonLib\Server;

class CreatePricePlanTriggersApi extends BaseApi
{
    /**
     * Create a usage trigger at the account level, device level or a price plan trigger for all devices on
     * the account
     *
     * @param V2TriggersRequest $body Create a trigger
     *
     * @return ApiResponse Response from the API call
     */
    public function createTriggerRules(V2TriggersRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v2/triggers')
            ->server(Server::THINGSPACE)
            ->auth('thingspace_oauth1', 'VZ-M2M-Token')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error response', RuleRestErrorResponseException::class))
            ->type(TriggerResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
