<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Exceptions\GioRestErrorResponseException;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\GioRequestResponse;
use VerizonLib\Models\GiosmsSendRequest;
use VerizonLib\Models\SmsEventHistoryRequest;
use VerizonLib\Models\SmsMessagesResponse;
use VerizonLib\Models\SuccessResponse;
use VerizonLib\Server;

class DeviceSmsMessagingApi extends BaseApi
{
    /**
     * Sends an SMS message to one device. Messages are queued on the M2M MC Platform and sent as soon as
     * possible, but they may be delayed due to traffic and routing considerations.
     *
     * @param GiosmsSendRequest $body SMS message to an indiividual device.
     *
     * @return ApiResponse Response from the API call
     */
    public function sendAnSmsMessage(GiosmsSendRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/m2m/v1/sms')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error response', GioRestErrorResponseException::class))
            ->type(GioRequestResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves queued SMS messages sent by all M2M MC devices associated with an account.
     *
     * @param string $accountName Numeric account name
     * @param string|null $next Continue the previous query from the pageUrl in Location Header
     *
     * @return ApiResponse Response from the API call
     */
    public function getSmsMessages(string $accountName, ?string $next = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/m2m/v1/sms/{accountName}/history')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(
                TemplateParam::init('accountName', $accountName)->required(),
                QueryParam::init('next', $next)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error response', GioRestErrorResponseException::class))
            ->type(SmsMessagesResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Starts delivery of SMS messages for the specified account.
     *
     * @param string $accountName Numeric account name
     *
     * @return ApiResponse Response from the API call
     */
    public function startSmsMessageDelivery(string $accountName): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/m2m/v1/sms/{accountName}/startCallbacks')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(TemplateParam::init('accountName', $accountName)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error response', GioRestErrorResponseException::class))
            ->type(SuccessResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a list of sms history for a given device during a specified time frame.
     *
     * @param SmsEventHistoryRequest $body Device Query
     *
     * @return ApiResponse Response from the API call
     */
    public function listSmsMessageHistory(SmsEventHistoryRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/m2m/v1/devices/sms/history/actions/list')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error response', GioRestErrorResponseException::class))
            ->type(GioRequestResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
