/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.m5gedge.apis;

import com.verizon.m5gedge.ApiHelper;
import com.verizon.m5gedge.Server;
import com.verizon.m5gedge.exceptions.ApiException;
import com.verizon.m5gedge.exceptions.EsimRestErrorResponseException;
import com.verizon.m5gedge.http.request.HttpMethod;
import com.verizon.m5gedge.http.response.ApiResponse;
import com.verizon.m5gedge.models.EsimProfileRequest;
import com.verizon.m5gedge.models.EsimProfileRequest2;
import com.verizon.m5gedge.models.EsimRequestResponse;
import com.verizon.m5gedge.models.ProfileRequest2;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class SimActionsApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public SimActionsApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * System assign a new activation code to reactivate a deactivated device. **Note:** the
     * previously assigned ICCID must be used to request a new activation code.
     * @param  body  Required parameter: Device Profile Query
     * @return    Returns the EsimRequestResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<EsimRequestResponse> newactivatecode(
            final EsimProfileRequest2 body) throws ApiException, IOException {
        return prepareNewactivatecodeRequest(body).execute();
    }

    /**
     * System assign a new activation code to reactivate a deactivated device. **Note:** the
     * previously assigned ICCID must be used to request a new activation code.
     * @param  body  Required parameter: Device Profile Query
     * @return    Returns the EsimRequestResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<EsimRequestResponse>> newactivatecodeAsync(
            final EsimProfileRequest2 body) {
        try {
            return prepareNewactivatecodeRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for newactivatecode.
     */
    private ApiCall<ApiResponse<EsimRequestResponse>, ApiException> prepareNewactivatecodeRequest(
            final EsimProfileRequest2 body) {
        return new ApiCall.Builder<ApiResponse<EsimRequestResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/m2m/v1/devices/profile/actions/renew_activation_code")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, EsimRequestResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad request",
                                (reason, context) -> new EsimRestErrorResponseException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new EsimRestErrorResponseException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new EsimRestErrorResponseException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("Not Found / Does not exist",
                                (reason, context) -> new EsimRestErrorResponseException(reason, context)))
                        .localErrorCase("406",
                                 ErrorCase.setReason("Format / Request Unacceptable",
                                (reason, context) -> new EsimRestErrorResponseException(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("Too many requests",
                                (reason, context) -> new EsimRestErrorResponseException(reason, context)))
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error response",
                                (reason, context) -> new EsimRestErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Uses the profile to activate the SIM.
     * @param  body  Required parameter: Device Profile Query
     * @return    Returns the EsimRequestResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<EsimRequestResponse> setactivateUsingPost(
            final EsimProfileRequest body) throws ApiException, IOException {
        return prepareSetactivateUsingPostRequest(body).execute();
    }

    /**
     * Uses the profile to activate the SIM.
     * @param  body  Required parameter: Device Profile Query
     * @return    Returns the EsimRequestResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<EsimRequestResponse>> setactivateUsingPostAsync(
            final EsimProfileRequest body) {
        try {
            return prepareSetactivateUsingPostRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for setactivateUsingPost.
     */
    private ApiCall<ApiResponse<EsimRequestResponse>, ApiException> prepareSetactivateUsingPostRequest(
            final EsimProfileRequest body) {
        return new ApiCall.Builder<ApiResponse<EsimRequestResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/m2m/v1/devices/profile/actions/activate")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, EsimRequestResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad request",
                                (reason, context) -> new EsimRestErrorResponseException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new EsimRestErrorResponseException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new EsimRestErrorResponseException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("Not Found / Does not exist",
                                (reason, context) -> new EsimRestErrorResponseException(reason, context)))
                        .localErrorCase("406",
                                 ErrorCase.setReason("Format / Request Unacceptable",
                                (reason, context) -> new EsimRestErrorResponseException(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("Too many requests",
                                (reason, context) -> new EsimRestErrorResponseException(reason, context)))
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error response",
                                (reason, context) -> new EsimRestErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Uses the profile to deactivate the SIM.
     * @param  body  Required parameter: Device Profile Query
     * @return    Returns the EsimRequestResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<EsimRequestResponse> setdeactivateUsingPost(
            final ProfileRequest2 body) throws ApiException, IOException {
        return prepareSetdeactivateUsingPostRequest(body).execute();
    }

    /**
     * Uses the profile to deactivate the SIM.
     * @param  body  Required parameter: Device Profile Query
     * @return    Returns the EsimRequestResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<EsimRequestResponse>> setdeactivateUsingPostAsync(
            final ProfileRequest2 body) {
        try {
            return prepareSetdeactivateUsingPostRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for setdeactivateUsingPost.
     */
    private ApiCall<ApiResponse<EsimRequestResponse>, ApiException> prepareSetdeactivateUsingPostRequest(
            final ProfileRequest2 body) {
        return new ApiCall.Builder<ApiResponse<EsimRequestResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/m2m/v1/devices/profile/actions/deactivate")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, EsimRequestResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad request",
                                (reason, context) -> new EsimRestErrorResponseException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new EsimRestErrorResponseException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new EsimRestErrorResponseException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("Not Found / Does not exist",
                                (reason, context) -> new EsimRestErrorResponseException(reason, context)))
                        .localErrorCase("406",
                                 ErrorCase.setReason("Format / Request Unacceptable",
                                (reason, context) -> new EsimRestErrorResponseException(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("Too many requests",
                                (reason, context) -> new EsimRestErrorResponseException(reason, context)))
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error response",
                                (reason, context) -> new EsimRestErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}