/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.m5gedge.apis;

import com.verizon.m5gedge.ApiHelper;
import com.verizon.m5gedge.Server;
import com.verizon.m5gedge.exceptions.ApiException;
import com.verizon.m5gedge.exceptions.ConnectivityManagementResultException;
import com.verizon.m5gedge.http.request.HttpMethod;
import com.verizon.m5gedge.http.response.ApiResponse;
import com.verizon.m5gedge.models.ConnectivityManagementSuccessResult;
import com.verizon.m5gedge.models.DeviceManagementResult;
import com.verizon.m5gedge.models.SmsMessagesQueryResult;
import com.verizon.m5gedge.models.SmsSendRequest;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class SmsApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public SmsApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * The messages are queued on the ThingSpace Platform and sent as soon as possible, but they may
     * be delayed due to traffic and routing considerations.
     * @param  body  Required parameter: Request to send SMS.
     * @return    Returns the DeviceManagementResult wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<DeviceManagementResult> sendSmsToDevice(
            final SmsSendRequest body) throws ApiException, IOException {
        return prepareSendSmsToDeviceRequest(body).execute();
    }

    /**
     * The messages are queued on the ThingSpace Platform and sent as soon as possible, but they may
     * be delayed due to traffic and routing considerations.
     * @param  body  Required parameter: Request to send SMS.
     * @return    Returns the DeviceManagementResult wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<DeviceManagementResult>> sendSmsToDeviceAsync(
            final SmsSendRequest body) {
        try {
            return prepareSendSmsToDeviceRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for sendSmsToDevice.
     */
    private ApiCall<ApiResponse<DeviceManagementResult>, ApiException> prepareSendSmsToDeviceRequest(
            final SmsSendRequest body) {
        return new ApiCall.Builder<ApiResponse<DeviceManagementResult>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/m2m/v1/sms")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, DeviceManagementResult.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Error response.",
                                (reason, context) -> new ConnectivityManagementResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * When HTTP status is 202, a URL will be returned in the Location header of the form
     * /sms/{aname}/history?next={token}. This URL can be used to request the next set of messages.
     * @param  aname  Required parameter: Account name.
     * @param  next  Optional parameter: Continue the previous query from the URL in Location
     *         Header.
     * @return    Returns the SmsMessagesQueryResult wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<SmsMessagesQueryResult> listDevicesSmsMessages(
            final String aname,
            final Long next) throws ApiException, IOException {
        return prepareListDevicesSmsMessagesRequest(aname, next).execute();
    }

    /**
     * When HTTP status is 202, a URL will be returned in the Location header of the form
     * /sms/{aname}/history?next={token}. This URL can be used to request the next set of messages.
     * @param  aname  Required parameter: Account name.
     * @param  next  Optional parameter: Continue the previous query from the URL in Location
     *         Header.
     * @return    Returns the SmsMessagesQueryResult wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<SmsMessagesQueryResult>> listDevicesSmsMessagesAsync(
            final String aname,
            final Long next) {
        try {
            return prepareListDevicesSmsMessagesRequest(aname, next).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for listDevicesSmsMessages.
     */
    private ApiCall<ApiResponse<SmsMessagesQueryResult>, ApiException> prepareListDevicesSmsMessagesRequest(
            final String aname,
            final Long next) {
        return new ApiCall.Builder<ApiResponse<SmsMessagesQueryResult>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/m2m/v1/sms/{aname}/history")
                        .queryParam(param -> param.key("next")
                                .value(next).isRequired(false))
                        .templateParam(param -> param.key("aname").value(aname)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, SmsMessagesQueryResult.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Error response.",
                                (reason, context) -> new ConnectivityManagementResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Tells the ThingSpace Platform to start sending mobile-originated SMS messages through the
     * EnhancedConnectivityService callback service. SMS messages from devices are queued until they
     * are retrieved by your application, either by callback or synchronously with GET
     * /sms/{accountName}/history.
     * @param  aname  Required parameter: Account name.
     * @return    Returns the ConnectivityManagementSuccessResult wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ConnectivityManagementSuccessResult> startQueuedSmsDelivery(
            final String aname) throws ApiException, IOException {
        return prepareStartQueuedSmsDeliveryRequest(aname).execute();
    }

    /**
     * Tells the ThingSpace Platform to start sending mobile-originated SMS messages through the
     * EnhancedConnectivityService callback service. SMS messages from devices are queued until they
     * are retrieved by your application, either by callback or synchronously with GET
     * /sms/{accountName}/history.
     * @param  aname  Required parameter: Account name.
     * @return    Returns the ConnectivityManagementSuccessResult wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ConnectivityManagementSuccessResult>> startQueuedSmsDeliveryAsync(
            final String aname) {
        try {
            return prepareStartQueuedSmsDeliveryRequest(aname).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for startQueuedSmsDelivery.
     */
    private ApiCall<ApiResponse<ConnectivityManagementSuccessResult>, ApiException> prepareStartQueuedSmsDeliveryRequest(
            final String aname) {
        return new ApiCall.Builder<ApiResponse<ConnectivityManagementSuccessResult>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/m2m/v1/sms/{aname}/startCallbacks")
                        .templateParam(param -> param.key("aname").value(aname)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ConnectivityManagementSuccessResult.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Error response.",
                                (reason, context) -> new ConnectivityManagementResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}