/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.m5gedge.apis;

import com.verizon.m5gedge.ApiHelper;
import com.verizon.m5gedge.Server;
import com.verizon.m5gedge.exceptions.ApiException;
import com.verizon.m5gedge.exceptions.RuleRestErrorResponseException;
import com.verizon.m5gedge.http.request.HttpMethod;
import com.verizon.m5gedge.http.response.ApiResponse;
import com.verizon.m5gedge.models.TriggerResponse;
import com.verizon.m5gedge.models.V2TriggersRequest;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class CreatePricePlanTriggersApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public CreatePricePlanTriggersApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Create a usage trigger at the account level, device level or a price plan trigger for all
     * devices on the account.
     * @param  body  Required parameter: Create a trigger
     * @return    Returns the TriggerResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<TriggerResponse> createTriggerRules(
            final V2TriggersRequest body) throws ApiException, IOException {
        return prepareCreateTriggerRulesRequest(body).execute();
    }

    /**
     * Create a usage trigger at the account level, device level or a price plan trigger for all
     * devices on the account.
     * @param  body  Required parameter: Create a trigger
     * @return    Returns the TriggerResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<TriggerResponse>> createTriggerRulesAsync(
            final V2TriggersRequest body) {
        try {
            return prepareCreateTriggerRulesRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for createTriggerRules.
     */
    private ApiCall<ApiResponse<TriggerResponse>, ApiException> prepareCreateTriggerRulesRequest(
            final V2TriggersRequest body) {
        return new ApiCall.Builder<ApiResponse<TriggerResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/v2/triggers")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("thingspace_oauth1")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, TriggerResponse.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error response",
                                (reason, context) -> new RuleRestErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}