# -*- coding: utf-8 -*-

"""
verizon

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from verizon.api_helper import APIHelper
from verizon.configuration import Server
from verizon.http.api_response import ApiResponse
from verizon.apis.base_api import BaseApi
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from verizon.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single
from apimatic_core.authentication.multiple.and_auth_group import And
from verizon.models.esim_request_response import EsimRequestResponse
from verizon.exceptions.esim_rest_error_response_exception import EsimRestErrorResponseException


class GlobalReportingApi(BaseApi):

    """A Controller to access Endpoints in the verizon API."""
    def __init__(self, config):
        super(GlobalReportingApi, self).__init__(config)

    def deviceprovhistory_using_post(self,
                                     body):
        """Does a POST request to /m2m/v2/devices/history/actions/list.

        Retrieve the provisioning history of a specific device or devices.

        Args:
            body (EsimProvhistoryRequest): Device Provisioning History

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Request ID

        Raises:
            ApiException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.THINGSPACE)
            .path('/m2m/v2/devices/history/actions/list')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body)
                        .is_required(True))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single('thingspace_oauth'), Single('VZ-M2M-Token')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(EsimRequestResponse.from_dictionary)
            .is_api_response(True)
            .local_error('400', 'Bad request', EsimRestErrorResponseException)
            .local_error('401', 'Unauthorized', EsimRestErrorResponseException)
            .local_error('403', 'Forbidden', EsimRestErrorResponseException)
            .local_error('404', 'Not Found / Does not exist', EsimRestErrorResponseException)
            .local_error('406', 'Format / Request Unacceptable', EsimRestErrorResponseException)
            .local_error('429', 'Too many requests', EsimRestErrorResponseException)
            .local_error('default', 'Error response', EsimRestErrorResponseException)
        ).execute()

    def retrieve_global_list(self,
                             body):
        """Does a POST request to /m2m/v2/devices/actions/list.

        Retrieve a list of all devices associated with an account.

        Args:
            body (EsimGlobalDeviceList): Device List

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Request ID

        Raises:
            ApiException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.THINGSPACE)
            .path('/m2m/v2/devices/actions/list')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body)
                        .is_required(True))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single('thingspace_oauth'), Single('VZ-M2M-Token')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(EsimRequestResponse.from_dictionary)
            .is_api_response(True)
            .local_error('400', 'Bad request', EsimRestErrorResponseException)
            .local_error('401', 'Unauthorized', EsimRestErrorResponseException)
            .local_error('403', 'Forbidden', EsimRestErrorResponseException)
            .local_error('404', 'Not Found / Does not exist', EsimRestErrorResponseException)
            .local_error('406', 'Format / Request Unacceptable', EsimRestErrorResponseException)
            .local_error('429', 'Too many requests', EsimRestErrorResponseException)
            .local_error('default', 'Error response', EsimRestErrorResponseException)
        ).execute()
