# verizon
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module Verizon
  # ClientLoggingApi
  class ClientLoggingApi < BaseApi
    # Returns an array of all devices in the specified account for which logging
    # is enabled.
    # @param [String] account Required parameter: Account identifier.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_devices_with_logging_enabled(account)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/logging/{account}/devices',
                                     Server::SOFTWARE_MANAGEMENT_V2)
                   .template_param(new_parameter(account, key: 'account')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('thingspace_oauth', 'VZ-M2M-Token')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(DeviceLoggingStatus.method(:from_hash))
                    .is_api_response(true)
                    .is_response_array(true)
                    .local_error('400',
                                 'Unexpected error.',
                                 FotaV2ResultException))
        .execute
    end

    # Each customer may have a maximum of 20 devices enabled for logging.
    # @param [String] account Required parameter: Account identifier.
    # @param [DeviceLoggingRequest] body Required parameter: Device logging
    # information.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def enable_logging_for_devices(account,
                                   body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::PUT,
                                     '/logging/{account}/devices',
                                     Server::SOFTWARE_MANAGEMENT_V2)
                   .template_param(new_parameter(account, key: 'account')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('*/*', key: 'Content-Type'))
                   .body_param(new_parameter(body)
                                .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('thingspace_oauth', 'VZ-M2M-Token')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(DeviceLoggingStatus.method(:from_hash))
                    .is_api_response(true)
                    .is_response_array(true)
                    .local_error('400',
                                 'Unexpected error.',
                                 FotaV2ResultException))
        .execute
    end

    # Turn logging off for a list of devices.
    # @param [String] account Required parameter: Account identifier.
    # @param [String] device_ids Required parameter: The list of device IDs.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def disable_logging_for_devices(account,
                                    device_ids)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/logging/{account}/devices',
                                     Server::SOFTWARE_MANAGEMENT_V2)
                   .template_param(new_parameter(account, key: 'account')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(device_ids, key: 'deviceIds')
                                 .is_required(true))
                   .auth(And.new('thingspace_oauth', 'VZ-M2M-Token')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true)
                    .local_error('400',
                                 'Unexpected error.',
                                 FotaV2ResultException))
        .execute
    end

    # Enables logging for a specific device.
    # @param [String] account Required parameter: Account identifier.
    # @param [String] device_id Required parameter: Device IMEI identifier.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def enable_device_logging(account,
                              device_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::PUT,
                                     '/logging/{account}/devices/{deviceId}',
                                     Server::SOFTWARE_MANAGEMENT_V2)
                   .template_param(new_parameter(account, key: 'account')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(device_id, key: 'deviceId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('thingspace_oauth', 'VZ-M2M-Token')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(DeviceLoggingStatus.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Unexpected error.',
                                 FotaV2ResultException))
        .execute
    end

    # Disables logging for a specific device.
    # @param [String] account Required parameter: Account identifier.
    # @param [String] device_id Required parameter: Device IMEI identifier.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def disable_device_logging(account,
                               device_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/logging/{account}/devices/{deviceId}',
                                     Server::SOFTWARE_MANAGEMENT_V2)
                   .template_param(new_parameter(account, key: 'account')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(device_id, key: 'deviceId')
                                    .is_required(true)
                                    .should_encode(true))
                   .auth(And.new('thingspace_oauth', 'VZ-M2M-Token')))
        .response(new_response_handler
                    .is_response_void(true)
                    .is_api_response(true)
                    .local_error('400',
                                 'Unexpected error.',
                                 FotaV2ResultException))
        .execute
    end

    # Gets logs for a specific device.
    # @param [String] account Required parameter: Account identifier.
    # @param [String] device_id Required parameter: Device IMEI identifier.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_device_logs(account,
                         device_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/logging/{account}/devices/{deviceId}/logs',
                                     Server::SOFTWARE_MANAGEMENT_V2)
                   .template_param(new_parameter(account, key: 'account')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(device_id, key: 'deviceId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('thingspace_oauth', 'VZ-M2M-Token')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(DeviceLog.method(:from_hash))
                    .is_api_response(true)
                    .is_response_array(true)
                    .local_error('400',
                                 'Unexpected error.',
                                 FotaV2ResultException))
        .execute
    end
  end
end
