# verizon
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module Verizon
  # PerformanceMetricsApi
  class PerformanceMetricsApi < BaseApi
    # Query the most recent data for Key Performance Indicators (KPIs) like
    # network availability, MEC hostnames and more.
    # @param [QueryMecPerformanceMetricsRequest] body Optional parameter: TODO:
    # type description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def query_mec_performance_metrics(body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/performance/device/network/metrics',
                                     Server::PERFORMANCE)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('thingspace_oauth', 'VZ-M2M-Token')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(MecPerformanceMetrics.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request.',
                                 EdgePerformanceResultException)
                    .local_error('401',
                                 'Unauthorized request.',
                                 EdgePerformanceResultException)
                    .local_error('403',
                                 'Request forbidden.',
                                 EdgePerformanceResultException)
                    .local_error('404',
                                 'Resource Not Found.',
                                 EdgePerformanceResultException)
                    .local_error('405',
                                 'Method Not Allowed.',
                                 EdgePerformanceResultException)
                    .local_error('503',
                                 'Service Unavailable.',
                                 EdgePerformanceResultException))
        .execute
    end
  end
end
