# verizon
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module Verizon
  # PwnApi
  class PwnApi < BaseApi
    # TODO: type endpoint description here
    # @param [String] aname Required parameter: Account name.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def kpi_list(aname)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/m2m/v1/devices/pwn/kpi/list/{aname}',
                                     Server::THINGSPACE)
                   .template_param(new_parameter(aname, key: 'aname')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('thingspace_oauth', 'VZ-M2M-Token')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(KpiInfoList.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] aname Required parameter: Account name.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_profile_list(aname)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/m2m/v1/devices/pwn/profiles/list/{aname}',
                                     Server::THINGSPACE)
                   .template_param(new_parameter(aname, key: 'aname')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('thingspace_oauth', 'VZ-M2M-Token')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(PwnProfileList.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [ChangePwnDeviceStateActivateRequest] body Required parameter:
    # TODO: type description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def change_pwn_device_state_activate(body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/m2m/v1/devices/pwn/actions/state/activate',
                                     Server::THINGSPACE)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body)
                                .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('thingspace_oauth', 'VZ-M2M-Token')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ChangePwnDeviceStateResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [ChangePwnDeviceStateDeactivateRequest] body Required parameter:
    # TODO: type description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def change_pwn_device_state_deactivate(body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/m2m/v1/devices/pwn/actions/state/deactivate',
                                     Server::THINGSPACE)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body)
                                .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('thingspace_oauth', 'VZ-M2M-Token')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ChangePwnDeviceStateResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [ChangePwnDeviceProfileRequest] body Required parameter: TODO: type
    # description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def change_pwn_device_profile(body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/m2m/v1/devices/pwn/actions/profile',
                                     Server::THINGSPACE)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body)
                                .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('thingspace_oauth', 'VZ-M2M-Token')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ChangePwnDeviceProfileResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [ChangePwnDeviceIpaddressRequest] body Required parameter: TODO:
    # type description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def change_pwn_device_ipaddress(body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::PUT,
                                     '/m2m/v1/devices/pwn/actions/ipaddress',
                                     Server::THINGSPACE)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body)
                                .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('thingspace_oauth', 'VZ-M2M-Token')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ChangePwnDeviceIpaddressResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] aname Required parameter: Account name.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_pwn_performance_consent(aname)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/m2m/v1/devices/pwn/performance/consent/{aname}',
                                     Server::THINGSPACE)
                   .template_param(new_parameter(aname, key: 'aname')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('thingspace_oauth', 'VZ-M2M-Token')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(GetPwnPerformanceConsentResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
