# verizon
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module Verizon
  # RetrieveRatePlanListApi
  class RetrieveRatePlanListApi < BaseApi
    # Retrieves the rate plans and rate plan details for a profile ID.
    # @param [String] ecpd_id Required parameter: The Enterprise Customer
    # Profile Database ID. This is the same as the accountName value
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_rate_plan_list(ecpd_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/v2/triggers/rateplanlist/{ecpdId}',
                                     Server::THINGSPACE)
                   .template_param(new_parameter(ecpd_id, key: 'ecpdId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('thingspace_oauth1', 'VZ-M2M-Token')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Rateplan.method(:from_hash))
                    .is_api_response(true)
                    .local_error('default',
                                 'Error response',
                                 RuleRestErrorResponseException))
        .execute
    end
  end
end
