# verizon
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module Verizon
  # SensorInsightsGatewaysApi
  class SensorInsightsGatewaysApi < BaseApi
    # TODO: type endpoint description here
    # @param [DtoListDevicesRequest] body Required parameter: Get gateway
    # information
    # @return [ApiResponse] Complete http response with raw body and status code.
    def sensor_insights_list_gateway_devices_request(body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/dm/v1/devices/gateways/actions/query',
                                     Server::THINGSPACE)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body)
                                .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('thingspace_oauth', 'VZ-M2M-Token')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ResourceDevice.method(:from_hash))
                    .is_api_response(true)
                    .is_response_array(true)
                    .local_error('400',
                                 'Bad Request',
                                 M400ManagementErrorException)
                    .local_error('401',
                                 'UnAuthorized',
                                 ManagementErrorException)
                    .local_error('403',
                                 'Forbidden',
                                 M403ManagementErrorException)
                    .local_error('404',
                                 'Not Found',
                                 M404ManagementErrorException)
                    .local_error('406',
                                 'Not Acceptable',
                                 ManagementErrorException)
                    .local_error('415',
                                 'Unsupported media type',
                                 ManagementErrorException)
                    .local_error('429',
                                 'Too many requests',
                                 ManagementErrorException)
                    .local_error('500',
                                 'Internal server error.',
                                 M500ManagementErrorException)
                    .local_error('default',
                                 'Unexpected error',
                                 ManagementErrorException))
        .execute
    end
  end
end
