# verizon
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module Verizon
  # SensorInsightsSmartAlertMetricsApi
  class SensorInsightsSmartAlertMetricsApi < BaseApi
    # Get Device Alerts for the most recent daily period, up to 30 days.
    # @param [DtoQueryMetrics] body Required parameter: Daily period requested,
    # up to 30 days.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def sensorinsightsmetricsquery(body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/dm/v1/smartAlerts/actions/metrics',
                                     Server::THINGSPACE)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body)
                                .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('thingspace_oauth', 'VZ-M2M-Token')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(DtoQueryMetricsResponse.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'Bad Request',
                                 M400ManagementErrorException)
                    .local_error('401',
                                 'UnAuthorized',
                                 ManagementErrorException)
                    .local_error('403',
                                 'Forbidden',
                                 M403ManagementErrorException)
                    .local_error('500',
                                 'Internal server error.',
                                 M500ManagementErrorException))
        .execute
    end
  end
end
