# verizon
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module Verizon
  # ServerLoggingApi
  class ServerLoggingApi < BaseApi
    # Check-in history can be retrieved for any device belonging to the account,
    # not necessarily with logging enabled.
    # @param [String] account Required parameter: Account identifier.
    # @param [String] device_id Required parameter: Device IMEI identifier.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_device_check_in_history(account,
                                    device_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/logging/{account}/devices/{deviceId}/checkInHistory',
                                     Server::SOFTWARE_MANAGEMENT_V2)
                   .template_param(new_parameter(account, key: 'account')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(device_id, key: 'deviceId')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('thingspace_oauth', 'VZ-M2M-Token')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(CheckInHistoryItem.method(:from_hash))
                    .is_api_response(true)
                    .is_response_array(true)
                    .local_error('400',
                                 'Unexpected error.',
                                 FotaV2ResultException))
        .execute
    end
  end
end
