# verizon
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module Verizon
  # ThingSpaceQualityOfServiceApiActionsApi
  class ThingSpaceQualityOfServiceApiActionsApi < BaseApi
    # Creates a QoS elevation subscription ID and activates the subscription.
    # @param [SubscribeRequest] body Required parameter: The request details to
    # create a ThingSpace Quality of Service API subscription.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_a_thing_space_quality_of_service_api_subscription(body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/m2m/v1/devices/actions/enhanceQoS',
                                     Server::THINGSPACE)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body)
                                .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('thingspace_oauth', 'VZ-M2M-Token')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(M201Success.method(:from_hash))
                    .is_api_response(true)
                    .local_error('default',
                                 'Error Response',
                                 DefaultResponseException))
        .execute
    end

    # Stops an active ThingSpace Quality of Service API subscription using the
    # account name and the subscription ID.
    # @param [String] account_name Required parameter: TODO: type description
    # here
    # @param [String] qos_subscription_id Required parameter: TODO: type
    # description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def stop_a_thing_space_quality_of_service_api_subscription(account_name,
                                                               qos_subscription_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/m2m/v1/devices/actions/enhanceQoS',
                                     Server::THINGSPACE)
                   .query_param(new_parameter(account_name, key: 'accountName')
                                 .is_required(true))
                   .query_param(new_parameter(qos_subscription_id, key: 'qosSubscriptionId')
                                 .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('thingspace_oauth', 'VZ-M2M-Token')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(M201Success.method(:from_hash))
                    .is_api_response(true)
                    .local_error('default',
                                 'Error Response',
                                 DefaultResponseException))
        .execute
    end
  end
end
