/*
Package verizon

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
*/
package verizon

import (
    "context"
    "github.com/apimatic/go-core-runtime/https"
    "github.com/apimatic/go-core-runtime/utilities"
    "verizon/errors"
    "verizon/models"
)

// CreatePricePlanTriggersApi represents a controller struct.
type CreatePricePlanTriggersApi struct {
    baseApi
}

// NewCreatePricePlanTriggersApi creates a new instance of CreatePricePlanTriggersApi.
// It takes a baseController as a parameter and returns a pointer to the CreatePricePlanTriggersApi.
func NewCreatePricePlanTriggersApi(baseApi baseApi) *CreatePricePlanTriggersApi {
    createPricePlanTriggersApi := CreatePricePlanTriggersApi{baseApi: baseApi}
    return &createPricePlanTriggersApi
}

// CreateTriggerRules takes context, body as parameters and
// returns an models.ApiResponse with models.TriggerResponse data and
// an error if there was an issue with the request or response.
// Create a usage trigger at the account level, device level or a price plan trigger for all devices on the account
func (c *CreatePricePlanTriggersApi) CreateTriggerRules(
    ctx context.Context,
    body models.CreateTriggerRulesBody) (
    models.ApiResponse[models.TriggerResponse],
    error) {
    req := c.prepareRequest(ctx, "POST", "/v2/triggers")
    
    req.BaseUrl("Thingspace")
    req.Authenticate(
        NewOrAuth(
            NewAuth("thingspace_oauth1"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "0": {Message: "Error response", Unmarshaller: errors.NewRuleRestErrorResponse},
    })
    req.Header("Content-Type", "application/json")
    req.Json(&body)
    var result models.TriggerResponse
    decoder, resp, err := req.CallAsJson()
    if err != nil {
        return models.NewApiResponse(result, resp), err
    }
    
    result, err = utilities.DecodeResults[models.TriggerResponse](decoder)
    return models.NewApiResponse(result, resp), err
}
