/*
Package verizon

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
*/
package verizon

import (
    "context"
    "github.com/apimatic/go-core-runtime/https"
    "github.com/apimatic/go-core-runtime/utilities"
    "verizon/errors"
    "verizon/models"
)

// DeviceProfileManagementApi represents a controller struct.
type DeviceProfileManagementApi struct {
    baseApi
}

// NewDeviceProfileManagementApi creates a new instance of DeviceProfileManagementApi.
// It takes a baseController as a parameter and returns a pointer to the DeviceProfileManagementApi.
func NewDeviceProfileManagementApi(baseApi baseApi) *DeviceProfileManagementApi {
    deviceProfileManagementApi := DeviceProfileManagementApi{baseApi: baseApi}
    return &deviceProfileManagementApi
}

// ActivateDeviceThroughProfile takes context, body as parameters and
// returns an models.ApiResponse with models.RequestResponse data and
// an error if there was an issue with the request or response.
// Uses the profile to bring the device under management.
func (d *DeviceProfileManagementApi) ActivateDeviceThroughProfile(
    ctx context.Context,
    body models.ActivateDeviceProfileRequest) (
    models.ApiResponse[models.RequestResponse],
    error) {
    req := d.prepareRequest(
      ctx,
      "POST",
      "/m2m/v1/devices/profile/actions/activate_enable",
    )
    
    req.BaseUrl("Thingspace")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Bad request", Unmarshaller: errors.NewRestErrorResponse},
    })
    req.Header("Content-Type", "application/json")
    req.Json(&body)
    var result models.RequestResponse
    decoder, resp, err := req.CallAsJson()
    if err != nil {
        return models.NewApiResponse(result, resp), err
    }
    
    result, err = utilities.DecodeResults[models.RequestResponse](decoder)
    return models.NewApiResponse(result, resp), err
}

// ProfileToActivateDevice takes context, body as parameters and
// returns an models.ApiResponse with models.RequestResponse data and
// an error if there was an issue with the request or response.
// Uses the profile to activate the device.
func (d *DeviceProfileManagementApi) ProfileToActivateDevice(
    ctx context.Context,
    body models.ProfileRequest) (
    models.ApiResponse[models.RequestResponse],
    error) {
    req := d.prepareRequest(ctx, "POST", "/m2m/v1/devices/profile/actions/activate")
    
    req.BaseUrl("Thingspace")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Bad request", Unmarshaller: errors.NewRestErrorResponse},
    })
    req.Header("Content-Type", "application/json")
    req.Json(&body)
    var result models.RequestResponse
    decoder, resp, err := req.CallAsJson()
    if err != nil {
        return models.NewApiResponse(result, resp), err
    }
    
    result, err = utilities.DecodeResults[models.RequestResponse](decoder)
    return models.NewApiResponse(result, resp), err
}

// ProfileToDeactivateDevice takes context, body as parameters and
// returns an models.ApiResponse with models.RequestResponse data and
// an error if there was an issue with the request or response.
// Uses the profile to deactivate the device.
func (d *DeviceProfileManagementApi) ProfileToDeactivateDevice(
    ctx context.Context,
    body models.DeactivateDeviceProfileRequest) (
    models.ApiResponse[models.RequestResponse],
    error) {
    req := d.prepareRequest(
      ctx,
      "POST",
      "/m2m/v1/devices/profile/actions/deactivate",
    )
    
    req.BaseUrl("Thingspace")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Bad request", Unmarshaller: errors.NewRestErrorResponse},
    })
    req.Header("Content-Type", "application/json")
    req.Json(&body)
    var result models.RequestResponse
    decoder, resp, err := req.CallAsJson()
    if err != nil {
        return models.NewApiResponse(result, resp), err
    }
    
    result, err = utilities.DecodeResults[models.RequestResponse](decoder)
    return models.NewApiResponse(result, resp), err
}

// ProfileToSetFallbackAttribute takes context, body as parameters and
// returns an models.ApiResponse with models.RequestResponse data and
// an error if there was an issue with the request or response.
// Allows the profile to set the fallback attribute to the device.
func (d *DeviceProfileManagementApi) ProfileToSetFallbackAttribute(
    ctx context.Context,
    body models.SetFallbackAttributeRequest) (
    models.ApiResponse[models.RequestResponse],
    error) {
    req := d.prepareRequest(
      ctx,
      "POST",
      "/m2m/v1/devices/profile/actions/setfallbackattribute",
    )
    
    req.BaseUrl("Thingspace")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Bad request", Unmarshaller: errors.NewRestErrorResponse},
    })
    req.Header("Content-Type", "application/json")
    req.Json(&body)
    var result models.RequestResponse
    decoder, resp, err := req.CallAsJson()
    if err != nil {
        return models.NewApiResponse(result, resp), err
    }
    
    result, err = utilities.DecodeResults[models.RequestResponse](decoder)
    return models.NewApiResponse(result, resp), err
}
