/*
Package verizon

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
*/
package verizon

import (
    "context"
    "github.com/apimatic/go-core-runtime/https"
    "github.com/apimatic/go-core-runtime/utilities"
    "verizon/errors"
    "verizon/models"
)

// DiagnosticsFactoryResetApi represents a controller struct.
type DiagnosticsFactoryResetApi struct {
    baseApi
}

// NewDiagnosticsFactoryResetApi creates a new instance of DiagnosticsFactoryResetApi.
// It takes a baseController as a parameter and returns a pointer to the DiagnosticsFactoryResetApi.
func NewDiagnosticsFactoryResetApi(baseApi baseApi) *DiagnosticsFactoryResetApi {
    diagnosticsFactoryResetApi := DiagnosticsFactoryResetApi{baseApi: baseApi}
    return &diagnosticsFactoryResetApi
}

// DecivesRestart takes context, body as parameters and
// returns an models.ApiResponse with models.DiagnosticsObservationResult data and
// an error if there was an issue with the request or response.
// Performs a device reboot or a factory reset on the modem portion of the device.
func (d *DiagnosticsFactoryResetApi) DecivesRestart(
    ctx context.Context,
    body models.DeviceResetRequest) (
    models.ApiResponse[models.DiagnosticsObservationResult],
    error) {
    req := d.prepareRequest(ctx, "POST", "/devices/actions/restart")
    
    req.BaseUrl("Device Diagnostics")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "0": {Message: "Error response.", Unmarshaller: errors.NewDeviceDiagnosticsResult},
    })
    req.Header("Content-Type", "application/json")
    req.Json(&body)
    var result models.DiagnosticsObservationResult
    decoder, resp, err := req.CallAsJson()
    if err != nil {
        return models.NewApiResponse(result, resp), err
    }
    
    result, err = utilities.DecodeResults[models.DiagnosticsObservationResult](decoder)
    return models.NewApiResponse(result, resp), err
}
