/*
Package verizon

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
*/
package verizon

import (
    "context"
    "github.com/apimatic/go-core-runtime/https"
    "github.com/apimatic/go-core-runtime/utilities"
    "verizon/errors"
    "verizon/models"
)

// SensorInsightsGatewaysApi represents a controller struct.
type SensorInsightsGatewaysApi struct {
    baseApi
}

// NewSensorInsightsGatewaysApi creates a new instance of SensorInsightsGatewaysApi.
// It takes a baseController as a parameter and returns a pointer to the SensorInsightsGatewaysApi.
func NewSensorInsightsGatewaysApi(baseApi baseApi) *SensorInsightsGatewaysApi {
    sensorInsightsGatewaysApi := SensorInsightsGatewaysApi{baseApi: baseApi}
    return &sensorInsightsGatewaysApi
}

// SensorInsightsListGatewayDevicesRequest takes context, body as parameters and
// returns an models.ApiResponse with []models.ResourceDevice data and
// an error if there was an issue with the request or response.
func (s *SensorInsightsGatewaysApi) SensorInsightsListGatewayDevicesRequest(
    ctx context.Context,
    body models.DtoListDevicesRequest) (
    models.ApiResponse[[]models.ResourceDevice],
    error) {
    req := s.prepareRequest(ctx, "POST", "/dm/v1/devices/gateways/actions/query")
    
    req.BaseUrl("Thingspace")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Bad Request", Unmarshaller: errors.NewM400ManagementError},
        "401": {Message: "UnAuthorized", Unmarshaller: errors.NewManagementError},
        "403": {Message: "Forbidden", Unmarshaller: errors.NewM403ManagementError},
        "404": {Message: "Not Found", Unmarshaller: errors.NewM404ManagementError},
        "406": {Message: "Not Acceptable", Unmarshaller: errors.NewManagementError},
        "415": {Message: "Unsupported media type", Unmarshaller: errors.NewManagementError},
        "429": {Message: "Too many requests", Unmarshaller: errors.NewManagementError},
        "500": {Message: "Internal server error.", Unmarshaller: errors.NewM500ManagementError},
        "0": {Message: "Unexpected error", Unmarshaller: errors.NewManagementError},
    })
    req.Header("Content-Type", "application/json")
    req.Json(&body)
    var result []models.ResourceDevice
    decoder, resp, err := req.CallAsJson()
    if err != nil {
        return models.NewApiResponse(result, resp), err
    }
    
    result, err = utilities.DecodeResults[[]models.ResourceDevice](decoder)
    return models.NewApiResponse(result, resp), err
}
