/*
Package verizon

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
*/
package verizon

import (
    "context"
    "github.com/apimatic/go-core-runtime/https"
    "github.com/apimatic/go-core-runtime/utilities"
    "net/http"
    "verizon/errors"
    "verizon/models"
)

// SensorInsightsUsersApi represents a controller struct.
type SensorInsightsUsersApi struct {
    baseApi
}

// NewSensorInsightsUsersApi creates a new instance of SensorInsightsUsersApi.
// It takes a baseController as a parameter and returns a pointer to the SensorInsightsUsersApi.
func NewSensorInsightsUsersApi(baseApi baseApi) *SensorInsightsUsersApi {
    sensorInsightsUsersApi := SensorInsightsUsersApi{baseApi: baseApi}
    return &sensorInsightsUsersApi
}

// SensorInsightsCreateUserRequest takes context, body as parameters and
// returns an models.ApiResponse with models.ResourceUser data and
// an error if there was an issue with the request or response.
func (s *SensorInsightsUsersApi) SensorInsightsCreateUserRequest(
    ctx context.Context,
    body models.DtoCreateUserRequest) (
    models.ApiResponse[models.ResourceUser],
    error) {
    req := s.prepareRequest(ctx, "POST", "/dm/v1/users")
    
    req.BaseUrl("Thingspace")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Bad Request", Unmarshaller: errors.NewM400ManagementError},
        "401": {Message: "UnAuthorized", Unmarshaller: errors.NewManagementError},
        "403": {Message: "Forbidden", Unmarshaller: errors.NewM403ManagementError},
        "406": {Message: "Not Acceptable", Unmarshaller: errors.NewManagementError},
        "415": {Message: "Unsupported media type", Unmarshaller: errors.NewManagementError},
        "429": {Message: "Too many requests", Unmarshaller: errors.NewManagementError},
        "500": {Message: "Internal server error.", Unmarshaller: errors.NewM500ManagementError},
        "0": {Message: "Unexpected error", Unmarshaller: errors.NewManagementError},
    })
    req.Header("Content-Type", "application/json")
    req.Json(&body)
    var result models.ResourceUser
    decoder, resp, err := req.CallAsJson()
    if err != nil {
        return models.NewApiResponse(result, resp), err
    }
    
    result, err = utilities.DecodeResults[models.ResourceUser](decoder)
    return models.NewApiResponse(result, resp), err
}

// SensorInsightsDeleteUser takes context, deleterequestpayload as parameters and
// returns an *Response and
// an error if there was an issue with the request or response.
func (s *SensorInsightsUsersApi) SensorInsightsDeleteUser(
    ctx context.Context,
    deleterequestpayload models.DtoDeleteUserRequest) (
    *http.Response,
    error) {
    req := s.prepareRequest(ctx, "DELETE", "/dm/v1/users")
    
    req.BaseUrl("Thingspace")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Bad Request", Unmarshaller: errors.NewM400ManagementError},
        "401": {Message: "UnAuthorized", Unmarshaller: errors.NewManagementError},
        "403": {Message: "Forbidden", Unmarshaller: errors.NewM403ManagementError},
        "404": {Message: "Not Found", Unmarshaller: errors.NewM404ManagementError},
    })
    req.QueryParam("deleterequestpayload", deleterequestpayload)
    httpCtx, err := req.Call()
    if err != nil {
        return httpCtx.Response, err
    }
    return httpCtx.Response, err
}

// SensorInsightsUpdateUserRequest takes context, body as parameters and
// returns an models.ApiResponse with models.ResourceUser data and
// an error if there was an issue with the request or response.
func (s *SensorInsightsUsersApi) SensorInsightsUpdateUserRequest(
    ctx context.Context,
    body models.DtoUpdateUserRequest) (
    models.ApiResponse[models.ResourceUser],
    error) {
    req := s.prepareRequest(ctx, "PATCH", "/dm/v1/users")
    
    req.BaseUrl("Thingspace")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Bad Request", Unmarshaller: errors.NewM400ManagementError},
        "401": {Message: "UnAuthorized", Unmarshaller: errors.NewManagementError},
        "403": {Message: "Forbidden", Unmarshaller: errors.NewM403ManagementError},
        "404": {Message: "Not Found", Unmarshaller: errors.NewM404ManagementError},
        "406": {Message: "Not Acceptable", Unmarshaller: errors.NewManagementError},
        "415": {Message: "Unsupported media type", Unmarshaller: errors.NewManagementError},
        "429": {Message: "Too many requests", Unmarshaller: errors.NewManagementError},
        "500": {Message: "Internal server error.", Unmarshaller: errors.NewM500ManagementError},
        "0": {Message: "Unexpected error", Unmarshaller: errors.NewManagementError},
    })
    req.Header("Content-Type", "application/json")
    req.Json(&body)
    var result models.ResourceUser
    decoder, resp, err := req.CallAsJson()
    if err != nil {
        return models.NewApiResponse(result, resp), err
    }
    
    result, err = utilities.DecodeResults[models.ResourceUser](decoder)
    return models.NewApiResponse(result, resp), err
}

// SensorInsightsListUserRequest takes context, body as parameters and
// returns an models.ApiResponse with []models.ResourceUser data and
// an error if there was an issue with the request or response.
func (s *SensorInsightsUsersApi) SensorInsightsListUserRequest(
    ctx context.Context,
    body models.DtoListUserRequest) (
    models.ApiResponse[[]models.ResourceUser],
    error) {
    req := s.prepareRequest(ctx, "POST", "/dm/v1/users/actions/query")
    
    req.BaseUrl("Thingspace")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Bad Request", Unmarshaller: errors.NewM400ManagementError},
        "401": {Message: "UnAuthorized", Unmarshaller: errors.NewManagementError},
        "403": {Message: "Forbidden", Unmarshaller: errors.NewM403ManagementError},
        "404": {Message: "Not Found", Unmarshaller: errors.NewM404ManagementError},
        "406": {Message: "Not Acceptable", Unmarshaller: errors.NewManagementError},
        "415": {Message: "Unsupported media type", Unmarshaller: errors.NewManagementError},
        "429": {Message: "Too many requests", Unmarshaller: errors.NewManagementError},
        "500": {Message: "Internal server error.", Unmarshaller: errors.NewM500ManagementError},
        "0": {Message: "Unexpected error", Unmarshaller: errors.NewManagementError},
    })
    req.Header("Content-Type", "application/json")
    req.Json(&body)
    var result []models.ResourceUser
    decoder, resp, err := req.CallAsJson()
    if err != nil {
        return models.NewApiResponse(result, resp), err
    }
    
    result, err = utilities.DecodeResults[[]models.ResourceUser](decoder)
    return models.NewApiResponse(result, resp), err
}
