/*
Package verizon

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
*/
package verizon

import (
    "context"
    "github.com/apimatic/go-core-runtime/https"
    "github.com/apimatic/go-core-runtime/utilities"
    "verizon/errors"
    "verizon/models"
)

// SimActionsApi represents a controller struct.
type SimActionsApi struct {
    baseApi
}

// NewSimActionsApi creates a new instance of SimActionsApi.
// It takes a baseController as a parameter and returns a pointer to the SimActionsApi.
func NewSimActionsApi(baseApi baseApi) *SimActionsApi {
    simActionsApi := SimActionsApi{baseApi: baseApi}
    return &simActionsApi
}

// Newactivatecode takes context, body as parameters and
// returns an models.ApiResponse with models.EsimRequestResponse data and
// an error if there was an issue with the request or response.
// System assign a new activation code to reactivate a deactivated device. **Note:** the previously assigned ICCID must be used to request a new activation code.
func (s *SimActionsApi) Newactivatecode(
    ctx context.Context,
    body models.EsimProfileRequest2) (
    models.ApiResponse[models.EsimRequestResponse],
    error) {
    req := s.prepareRequest(
      ctx,
      "POST",
      "/m2m/v1/devices/profile/actions/renew_activation_code",
    )
    
    req.BaseUrl("Thingspace")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Bad request", Unmarshaller: errors.NewEsimRestErrorResponse},
        "401": {Message: "Unauthorized", Unmarshaller: errors.NewEsimRestErrorResponse},
        "403": {Message: "Forbidden", Unmarshaller: errors.NewEsimRestErrorResponse},
        "404": {Message: "Not Found / Does not exist", Unmarshaller: errors.NewEsimRestErrorResponse},
        "406": {Message: "Format / Request Unacceptable", Unmarshaller: errors.NewEsimRestErrorResponse},
        "429": {Message: "Too many requests", Unmarshaller: errors.NewEsimRestErrorResponse},
        "0": {Message: "Error response", Unmarshaller: errors.NewEsimRestErrorResponse},
    })
    req.Header("Content-Type", "application/json")
    req.Json(&body)
    var result models.EsimRequestResponse
    decoder, resp, err := req.CallAsJson()
    if err != nil {
        return models.NewApiResponse(result, resp), err
    }
    
    result, err = utilities.DecodeResults[models.EsimRequestResponse](decoder)
    return models.NewApiResponse(result, resp), err
}

// SetactivateUsingPost takes context, body as parameters and
// returns an models.ApiResponse with models.EsimRequestResponse data and
// an error if there was an issue with the request or response.
// Uses the profile to activate the SIM.
func (s *SimActionsApi) SetactivateUsingPost(
    ctx context.Context,
    body models.EsimProfileRequest) (
    models.ApiResponse[models.EsimRequestResponse],
    error) {
    req := s.prepareRequest(ctx, "POST", "/m2m/v1/devices/profile/actions/activate")
    
    req.BaseUrl("Thingspace")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Bad request", Unmarshaller: errors.NewEsimRestErrorResponse},
        "401": {Message: "Unauthorized", Unmarshaller: errors.NewEsimRestErrorResponse},
        "403": {Message: "Forbidden", Unmarshaller: errors.NewEsimRestErrorResponse},
        "404": {Message: "Not Found / Does not exist", Unmarshaller: errors.NewEsimRestErrorResponse},
        "406": {Message: "Format / Request Unacceptable", Unmarshaller: errors.NewEsimRestErrorResponse},
        "429": {Message: "Too many requests", Unmarshaller: errors.NewEsimRestErrorResponse},
        "0": {Message: "Error response", Unmarshaller: errors.NewEsimRestErrorResponse},
    })
    req.Header("Content-Type", "application/json")
    req.Json(&body)
    var result models.EsimRequestResponse
    decoder, resp, err := req.CallAsJson()
    if err != nil {
        return models.NewApiResponse(result, resp), err
    }
    
    result, err = utilities.DecodeResults[models.EsimRequestResponse](decoder)
    return models.NewApiResponse(result, resp), err
}

// SetdeactivateUsingPost takes context, body as parameters and
// returns an models.ApiResponse with models.EsimRequestResponse data and
// an error if there was an issue with the request or response.
// Uses the profile to deactivate the SIM.
func (s *SimActionsApi) SetdeactivateUsingPost(
    ctx context.Context,
    body models.ProfileRequest2) (
    models.ApiResponse[models.EsimRequestResponse],
    error) {
    req := s.prepareRequest(
      ctx,
      "POST",
      "/m2m/v1/devices/profile/actions/deactivate",
    )
    
    req.BaseUrl("Thingspace")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Bad request", Unmarshaller: errors.NewEsimRestErrorResponse},
        "401": {Message: "Unauthorized", Unmarshaller: errors.NewEsimRestErrorResponse},
        "403": {Message: "Forbidden", Unmarshaller: errors.NewEsimRestErrorResponse},
        "404": {Message: "Not Found / Does not exist", Unmarshaller: errors.NewEsimRestErrorResponse},
        "406": {Message: "Format / Request Unacceptable", Unmarshaller: errors.NewEsimRestErrorResponse},
        "429": {Message: "Too many requests", Unmarshaller: errors.NewEsimRestErrorResponse},
        "0": {Message: "Error response", Unmarshaller: errors.NewEsimRestErrorResponse},
    })
    req.Header("Content-Type", "application/json")
    req.Json(&body)
    var result models.EsimRequestResponse
    decoder, resp, err := req.CallAsJson()
    if err != nil {
        return models.NewApiResponse(result, resp), err
    }
    
    result, err = utilities.DecodeResults[models.EsimRequestResponse](decoder)
    return models.NewApiResponse(result, resp), err
}
