/*
Package verizon

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
*/
package verizon

import (
    "context"
    "github.com/apimatic/go-core-runtime/https"
    "github.com/apimatic/go-core-runtime/utilities"
    "verizon/errors"
    "verizon/models"
)

// SimSecureForIoTLicensesApi represents a controller struct.
type SimSecureForIoTLicensesApi struct {
    baseApi
}

// NewSimSecureForIoTLicensesApi creates a new instance of SimSecureForIoTLicensesApi.
// It takes a baseController as a parameter and returns a pointer to the SimSecureForIoTLicensesApi.
func NewSimSecureForIoTLicensesApi(baseApi baseApi) *SimSecureForIoTLicensesApi {
    simSecureForIoTLicensesApi := SimSecureForIoTLicensesApi{baseApi: baseApi}
    return &simSecureForIoTLicensesApi
}

// AssignLicenseToDevices takes context, body, xRequestId as parameters and
// returns an models.ApiResponse with models.SecuritySuccessResult data and
// an error if there was an issue with the request or response.
// Assigns SIM-Secure for IoT licenses to SIMs.
func (s *SimSecureForIoTLicensesApi) AssignLicenseToDevices(
    ctx context.Context,
    body models.AssignLicenseRequest,
    xRequestId *string) (
    models.ApiResponse[models.SecuritySuccessResult],
    error) {
    req := s.prepareRequest(ctx, "POST", "/v1/devices/license/actions/assign")
    
    req.BaseUrl("M2M")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Bad request.", Unmarshaller: errors.NewSecurityResult},
        "401": {Message: "Unauthorized request.", Unmarshaller: errors.NewSecurityResult},
        "403": {Message: "Request Forbidden.", Unmarshaller: errors.NewSecurityResult},
        "404": {Message: "Not Found / Does not exist.", Unmarshaller: errors.NewSecurityResult},
        "406": {Message: "Format / Request Unacceptable.", Unmarshaller: errors.NewSecurityResult},
        "429": {Message: "Too many requests.", Unmarshaller: errors.NewSecurityResult},
        "0": {Message: "Error response.", Unmarshaller: errors.NewSecurityResult},
    })
    req.Header("Content-Type", "application/json")
    if xRequestId != nil {
        req.Header("X-Request-ID", *xRequestId)
    }
    req.Json(&body)
    var result models.SecuritySuccessResult
    decoder, resp, err := req.CallAsJson()
    if err != nil {
        return models.NewApiResponse(result, resp), err
    }
    
    result, err = utilities.DecodeResults[models.SecuritySuccessResult](decoder)
    return models.NewApiResponse(result, resp), err
}

// UnassignLicenseToDevices takes context, xRequestId as parameters and
// returns an models.ApiResponse with models.SecuritySuccessResult data and
// an error if there was an issue with the request or response.
// Unassigns SIM-Secure for IoT Flexible and Flexible Bundle license from SIMs.
func (s *SimSecureForIoTLicensesApi) UnassignLicenseToDevices(
    ctx context.Context,
    xRequestId string) (
    models.ApiResponse[models.SecuritySuccessResult],
    error) {
    req := s.prepareRequest(ctx, "DELETE", "/v1/devices/license/actions/assign")
    
    req.BaseUrl("M2M")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Bad request.", Unmarshaller: errors.NewSecurityResult},
        "401": {Message: "Unauthorized request.", Unmarshaller: errors.NewSecurityResult},
        "403": {Message: "Request forbidden.", Unmarshaller: errors.NewSecurityResult},
        "404": {Message: "Not Found / Does not exist.", Unmarshaller: errors.NewSecurityResult},
        "406": {Message: "Format / Request Unacceptable.", Unmarshaller: errors.NewSecurityResult},
        "429": {Message: "Too many requests.", Unmarshaller: errors.NewSecurityResult},
        "0": {Message: "Error response.", Unmarshaller: errors.NewSecurityResult},
    })
    req.Header("X-Request-ID", xRequestId)
    var result models.SecuritySuccessResult
    decoder, resp, err := req.CallAsJson()
    if err != nil {
        return models.NewApiResponse(result, resp), err
    }
    
    result, err = utilities.DecodeResults[models.SecuritySuccessResult](decoder)
    return models.NewApiResponse(result, resp), err
}
