/*
Package verizon

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
*/
package verizon

import (
    "context"
    "github.com/apimatic/go-core-runtime/https"
    "github.com/apimatic/go-core-runtime/utilities"
    "verizon/errors"
    "verizon/models"
)

// SoftwareManagementSubscriptionsV2Api represents a controller struct.
type SoftwareManagementSubscriptionsV2Api struct {
    baseApi
}

// NewSoftwareManagementSubscriptionsV2Api creates a new instance of SoftwareManagementSubscriptionsV2Api.
// It takes a baseController as a parameter and returns a pointer to the SoftwareManagementSubscriptionsV2Api.
func NewSoftwareManagementSubscriptionsV2Api(baseApi baseApi) *SoftwareManagementSubscriptionsV2Api {
    softwareManagementSubscriptionsV2Api := SoftwareManagementSubscriptionsV2Api{baseApi: baseApi}
    return &softwareManagementSubscriptionsV2Api
}

// GetAccountSubscriptionStatus takes context, account as parameters and
// returns an models.ApiResponse with models.FotaV2Subscription data and
// an error if there was an issue with the request or response.
// This endpoint retrieves a FOTA subscription by account.
func (s *SoftwareManagementSubscriptionsV2Api) GetAccountSubscriptionStatus(
    ctx context.Context,
    account string) (
    models.ApiResponse[models.FotaV2Subscription],
    error) {
    req := s.prepareRequest(ctx, "GET", "/subscriptions/%v")
    req.AppendTemplateParams(account)
    req.BaseUrl("Software Management V2")
    req.Authenticate(
        NewAndAuth(
            NewAuth("thingspace_oauth"),
            NewAuth("VZ-M2M-Token"),
        ),
    )
    req.AppendErrors(map[string]https.ErrorBuilder[error]{
        "400": {Message: "Unexpected error.", Unmarshaller: errors.NewFotaV2Result},
    })
    
    var result models.FotaV2Subscription
    decoder, resp, err := req.CallAsJson()
    if err != nil {
        return models.NewApiResponse(result, resp), err
    }
    
    result, err = utilities.DecodeResults[models.FotaV2Subscription](decoder)
    return models.NewApiResponse(result, resp), err
}
